[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
django = "*"
psycopg2 = "*"
django-debug-toolbar = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-autocomplete-light = "*"
django-querysetsequence = "*"
unidecode = "*"
coverage = "*"
flake8 = "*"
selenium = "*"
pytest = "*"

[requires]
python_version = "3.8"
