{% load static %}
<div class="h-100 col-lg-4 col-sm-6 px-5 mt-5">
    <a class="portfolio-box" href="###">
        <object class="img-fluid product-img" data="{% static 'webapp/assets/img/bg-masthead.jpg' %}" type="image/png">
            <img class="img-fluid product-img" src="{% static 'webapp/assets/img/page/OFF_not_found.png' %}"
                type="image/png" alt="not found image">
        </object>
        <div class="portfolio-box-caption">
            <div class="project-name">Cliquez ici pour voir la fiche du produit.</div>
        </div>
    </a>
    <object class="img-fluid nutriscore" data="{% static 'webapp/assets/img/results/a.png' %}" type="image/png">
        <img class="img-fluid nutriscore" src="{% static 'webapp/assets/img/results/err.png' %}" type="image/png"
            alt="error image">
    </object>
    <div class="text-center text-uppercase font-weight-bold"># PRODUCT NAME #</div>

    <a href="###">
        <div class="text-center text-uppercase font-weight-bold"><i class="fas fa-save"></i> SAUVEGARDER</div>
    </a>
</div>